@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  margin: 0;
  padding: 0;
  font-size: calc(16px + 2vmin);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oreo-font {
  font-family: 'Pacifico', cursive;
  text-shadow: 0 2px 1px #0068b5, 0 3px 1px #00b6f1, 0 6px 1px #41338e,
    -1px -2px 1px #0068b5, 1px -2px 1px #0068b5, 0 -5px 15px #0068b5;
}

.oreo-clicker {
  text-align: center;
}

.oreo-bg {
  background-color: #282c34;
  background-image: radial-gradient(circle, #01ffff 10%, #011ca7 80%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

.biscuit-side,
.gadgets-side {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  /* padding: 1vw 1vh; */
  background-image: radial-gradient(circle, #01ffff 10%, #011ca7 80%);
}

.biscuit-side {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gadgets-side {
  overflow-x: scroll;
  position: relative;
  background: #dfb27b;
  background-image: url('../images/brown-fabric-texture.jpg');
}

.gadgets-side:after {
  background: linear-gradient(135deg, #011ca7 4px, transparent 0),
    linear-gradient(-45deg, #011ca7 4px, transparent 0),
    linear-gradient(135deg, #b68b58 16px, transparent 0),
    linear-gradient(-295deg, #755835 7px, transparent 0),
    linear-gradient(70deg, #50473b 11px, transparent 0);
  background-position: left center;
  background-repeat: repeat-y;
  background-size: 32px 32px;
  content: ' ';
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 8px;
  height: 100%;
}

.oreo-biscuit {
  animation: biscuit-spin infinite 750ms ease-in-out;
  height: 40vmin;
  cursor: pointer;
  overflow: show;
}

.oreo-biscuit:hover {
  animation: biscuit-spin infinite 300ms ease-in-out;
}

.oreo-biscuit:active {
  animation: biscuit-spin infinite 500ms ease-in-out;
  background-image: radial-gradient(circle, #fff 40%, transparent 65%);
}

.logo {
  position: relative;
  width: 300px;
  margin: 30px auto;
}

.logo span {
  position: absolute;
  bottom: 35px;
  right: 0px;
  transform: rotate(-11deg) skewX(-15deg);
  font-size: calc(16px + 2vmin);
}

.automation-store {
  list-style: none;
  padding: 0;
  width: 40%;
  min-width: 350px;
  margin: 0 auto;
}

.automation-item {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.buy-gadget {
  background: white;
  color: #423939;
  border: 0;
  height: 80px;
  width: 100%;
  border-radius: 40px;
  padding: 5px 15px 10px 80px;
  box-shadow: 0 4px 1px #382d2d, 0 6px 1px #5b494b, 0 8px 1px #2e2827,
    0 -2px 5px #19100e, inset 0 -2px 5px #3b2e8e;
  position: relative;
  font-family: 'Pacifico', cursive;
  font-size: calc(4px + 2vmin);
  line-height: 1;
  text-align: left;
  cursor: pointer;
  margin: 10px 0;
}

.icon {
  width: 60px;
  position: absolute;
  height: 60px;
  left: 10px;
  top: 10px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0;
  border-radius: 30px;
  box-shadow: inset 0 4px 1px rgba(0, 0, 0, 0.3);
}

.icon-pointer {
  background-color: #c1b1ef;
  background-image: url('../images/pointer.svg');
  background-size: 130%;
  background-repeat: no-repeat;
}

.icon-grandma {
  background-color: #feff62;
  background-image: url('../images/grandma.svg');
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-farm {
  background-color: #62ffad;
  background-image: url('../images/farm.svg');
  background-size: 85%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.oreos-counter {
  font-size: calc(20px + 2vmin);
}

.notifications-center {
  position: absolute;
  width: 26%;
  bottom: 0%;
  left: 37%;
  z-index: 1;
  font-size: 80%;
}

.message {
  font-family: 'Pacifico', cursive;
  color: #19100e;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 1px #382d2d, 0 6px 1px #5b494b, 0 8px 1px #2e2827,
    0 -2px 5px #19100e, inset 0 -2px 5px #3b2e8e;
}

.gadget-name {
  text-transform: capitalize;
}

.gadget-cost {
  font-size: 80%;
  margin-left: 5px;
  color: #0068b5;
}

.gadgets-count {
  position: absolute;
  font-size: 180%;
  right: 30px;
  top: 0;
  line-height: 70px;
  color: #999;
}

.stats {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Pacifico', cursive;
  font-size: 70%;
  color: #19100e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 2px #de922e;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.4);
}

.trophies {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  padding: 20px 20px 30px;
  margin: 0 auto;
}

.trophy {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  box-shadow: inset 0 4px 1px rgba(0, 0, 0, 0.3),
    0 3px 2px rgba(255, 255, 255, 1), 0 -2px 5px #de922e;
  position: relative;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.trophy span {
  background: #0068b5;
  border-radius: 10px;
  font-size: 60%;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 8px;
  white-space: nowrap;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3), 0 2px 3px #de922e;
}

.trophy-start {
  background-color: #c1b1ef;
  background-image: url('../images/start.svg');
}

.trophy-first-gadget {
  background-color: #feff62;
  background-image: url('../images/first-gadget.svg');
}

.trophy-ten-gadgets {
  background-color: #62ffad;
  background-image: url('../images/ten-gadgets.svg');
}

h2 {
  font-weight: normal;
  border-top: 2px dotted rgba(0, 0, 0, 0.3);
  border-bottom: 2px dotted rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 749px) {
  .oreo-bg {
    flex-direction: column;
  }

  .biscuit-side,
  .gadgets-side {
    width: 100%;
    padding: 2vh 0;
  }

  .logo {
    width: 200px;
    margin: 10px auto 0;
  }

  .logo img {
    width: 100%;
  }

  .logo span {
    font-size: calc(10px + 2vmin);
  }

  .oreo-biscuit {
    height: 60vmin;
    margin-top: -20px;
  }

  .oreos-counter {
    margin-top: -20px;
  }

  .oreo-speed {
    font-size: 130%;
  }

  .gadgets-side:after {
    background: linear-gradient(205deg, #011ca7 4px, transparent 0),
      linear-gradient(162deg, #011ca7 4px, transparent 0),
      linear-gradient(-155deg, #b68b58 6px, transparent 0),
      linear-gradient(-154deg, #755835 11px, transparent 0),
      linear-gradient(140deg, #50473b 10px, transparent 0);
    background-repeat: repeat-x;
    width: 100%;
    height: 8px;
    bottom: auto;
    top: 0;
    background-size: 32px 32px;
  }

  .stats {
    font-size: 80%;
  }

  .buy-gadget {
    font-size: calc(8px + 2vmin);
  }

  .trophies {
    width: 90%;
  }

  .notifications-center {
    width: 76%;
    bottom: 60%;
    left: 12%;
    z-index: 1;
  }
}

@keyframes biscuit-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
